target
.settings
.project
.classpath
logs
/kieker-trace-diagnosis-release-engineering/manual/*.log
/kieker-trace-diagnosis-release-engineering/manual/*.pdf
/kieker-trace-diagnosis-release-engineering/manual/*.aux
