.dialog-pane:no-header .graphic-container {
    -fx-padding: 0;
}

.noMonitoringStarted {
	-fx-text-background-color: orange;
}

.monitoringTerminated {
	-fx-text-background-color: red;
}

.monitoringRunning {
	-fx-text-background-color: green;
}
