#ivFilterContainer, #ivFilterComponent, #ivFilterOperation, #ivFilterTraceID, #ivFilterLowerDate, #ivFilterLowerTime, #ivFilterUpperDate, #ivFilterUpperTime, #ivFilterException {
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.text-field {
	-fx-background-color: transparent;
	-fx-background-insets: 0px;
}

.ivFailed {
	-fx-text-fill: red;
}