<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<RollingFile name="KiekerTraceDiagnosisFile" fileName="logs/Kieker Trace Diagnosis.log" filePattern="logs/Kieker Trace Diagnosis-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d %p %C [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="TeeTimeFile" fileName="logs/TeeTime.log" filePattern="logs/TeeTime-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d %p %C [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="teetime" level="warn" additivity="false">
			<AppenderRef ref="TeeTimeFile" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="KiekerTraceDiagnosisFile" />
		</Root>
	</Loggers>

</Configuration>