<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="TeeTimeFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/TeeTime.log</file>
		<encoder>
			<pattern>%d %p %C [%t] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>10</maxHistory>
			<fileNamePattern>logs/TeeTime-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	<appender name="KiekerTraceDiagnosisFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/Kieker Trace Diagnosis.log</file>
		<encoder>
			<pattern>%d %p %C [%t] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>10</maxHistory>
			<fileNamePattern>logs/Kieker Trace Diagnosis-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<root level="warn">
		<appender-ref ref="KiekerTraceDiagnosisFile" />
	</root>
	
	<logger name="teetime" level="warn">
		<appender-ref ref="TeeTimeFile"/>
	</logger>

</configuration> 